@import "partials/color";
@import "partials/type";
@import "partials/transitions";
@import "partials/prefixes";
@import "partials/pages";

@mixin hardware-accel() {
    // 3D rendering on GPU
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    // fix chrome and safari flicker
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility   : hidden;
    -ms-backface-visibility    : hidden;
    backface-visibility        : hidden;
    -webkit-perspective        : 1000;
    -moz-perspective           : 1000;
    -ms-perspective            : 1000;
    perspective                : 1000;

    // webkit-powered
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

body {margin:0px auto; background-color: $light-grey;}

#preload-audio{display:none;}

.cover_all {
	@include prefix(opacity, 0.00);
    @include transition(opacity,1.4s,$circ,0s);
	background: rgba(47,52,84,0.2); position: absolute;
    width: 100%; min-height: 100%; top: 0; left: 50%; margin-left: -50%; z-index: 99;
	&.show { @include prefix(opacity, 1.00); z-index: 100; }
}

.overlay {
    width:100%; height:100%; margin:0px auto; padding:0px; position:absolute; top:0px; left:0px; z-index: 1005; overflow:hidden;
    @include prefix(opacity, 0.00); @include prefix(filter,blur(3px)); 
    @include transition(all,3s,$circ,0s);
	
	&.show {
        @include prefix(opacity, 1.00); @include prefix(filter,blur(0px)); 
        @include transition(all,2.5s,$circ,1s);
	}
    
    .welcome {
        width:100%; height:100%; margin:0px auto; padding:0px; position:absolute; top:0px; left:0px; overflow:hidden;
            
        background-image:url("../_media/images/mb_intro.jpg");
        background-repeat: no-repeat;
        background-color:#0b2d6d; 
        
        /* -- breakpoints --*/
        @include break(tablet){background-size:auto 50%; background-position:110% 60%;}
        @include break(tablet,$portrait){background-size:auto 53%; background-position:75% 100%;}

        @include break(desktop, $desktop){background-size:auto 53%; background-position:center right;}
        @include break(desktop, $sm-width){background-size:auto 53%; background-position:center right;}
        @include break(desktop, $md-width){background-size:auto 53%; background-position:center right;}
            
        @include break(desktop, $desktop + 1, $sm-height){background-size:auto 90%; background-position:95% 100%;}
            
        .plaque {
            display:inline-block; width:60%; height:400px; color:$white; text-align:left;
        
            /* -- breakkpoints --*/
            @include break(phone){}
            @include break(tablet){position:absolute; top:25%; left:60px;}
            @include break(tablet, $portrait){position:absolute; top:12%; left:0px; width:80%; margin:0px 10%;}

            @include break(desktop, $desktop){position:absolute; top:25%; left:8%;}
            @include break(desktop, $sm-width){position:absolute; top:25%; left:8%;}
            
            @include break(desktop, $desktop + 1, $sm-height){position:absolute; top:20%; left:10%;}                
            h1 {
                            
                &.title {
                    font-size:2.6em; margin:-5px 0px 0px 20px;

                    /* -- breakpoints --*/
                    @include break(tablet){font-size:2.5em; margin:-5px 0px 0px 0px;}
                    @include break(tablet, $portrait){font-size:2.5em; margin:0px;}
                    @include break(desktop, $desktop){font-size:2.9em; margin:-5px 0px 0px 0px;}
                    @include break(desktop, $sm-width){font-size:2.8em; margin:-5px 0px 0px 0px;}
                    @include break(desktop, $md-width){font-size:3.5em; margin:-5px 0px 0px 0px;}
                    @include break(desktop, $lg-width){font-size:4.5em; margin:-5px 0px 0px 0px;}
                        
                    @include break(desktop, $desktop + 1, $sm-height){font-size:4em; margin:-5px 0px 0px 0px;}

                    span:first-child {
                        sup {
                            font-family:sans-serif; font-size:15%; display:inline-block; @include prefix(transform, translate(90%,-90%));
                        }
                    }
                }
                sup {font-size:20%;}
            }
                
            .instructions {
                margin: 1% 0;
                font-size: 1.7em;
                @include break(tablet){font-size:1.4em; }
                @include break(desktop, $desktop){font-size:1.5em; }
                @include break(desktop, $sm-width){font-size:1.5em; }
                @include break(desktop, $md-width){font-size:1.6em; }
                @include break(desktop, $lg-width){font-size:1.7em; }
            }
			
			.button-container {
				margin: 45px 0; width: 450px;
			}
			
			.brandProfile_download_button {
				@include transition((all),1s,$circ,1.2s);
				@include prefix(transform,translateY(20px) skew(-20.5deg));
				opacity: 0; 
				width: 150px;
				float: left;
				z-index: 101;
				text-decoration: none;
				
				&.show {
                   @include prefix(transform,translateY(0) skew(-20.5deg)); opacity: 1;
				}
			}
			
			.save_exit_button {
				@include transition((all),1s,$circ,1.5s);
				@include prefix(transform,translateY(20px) skew(-20.5deg));
				opacity: 0;
				float: right;
				width: 119px;
				z-index: 101;
				text-decoration: none;
				
				&.show {
                   @include prefix(transform,translateY(0) skew(-20.5deg)); opacity: 1;
				}
			}	

            .button {
                display:inline-block; background-color:$royal; padding:12px 15px; overflow:hidden; cursor:pointer; @include prefix(transform, translate(0px, 50px) skew(-20.5deg));
                                        
                /*- breakpoints -*/                    
                @include break(desktop, $desktop + 1, $sm-height){@include prefix(transform, translate(-20px, 30px) skew(-20.5deg));}

                .static-state{
                    margin:0px; padding:0px; position:relative; z-index:22; color:$white; font-family:$michelin-black; color:$white; font-size:0.80em;

                    @include prefix(transform,skew(20deg));
                    @include transition(color, 1s, $ease-out,0.25s);
                }
                .roll-state {
                    height:100%; width:100%; margin:0px; padding:0px; position:absolute; top:0px; left:0px; z-index:20;  background-color:$yellow; opacity:0.00;
                    @include transition(all, 0.50s, $circ, 0s); @include prefix(transform,translate(-110%,0%));
                }
            }
            .button:Hover {
                overflow:hidden;
                .static-state { color:$navy; }
                .roll-state { @include prefix(transform,translate(0%,0%)); opacity:1.00; }
            }
        }
    }

}

.conclusion {
	.page { 
		 text-align:center;
        .header {
            color:$royal;
            @include prefix(opacity, 0.00);
            @include prefix(transform, translate(0%, 100%));
       		position: absolute;
			top: 0; width: 100%; font-size: 1.6em;
                   
            &.show {
                @include transition((opacity, transform) ,2s,$ease-out,0s);
                @include prefix(opacity, 1.00);
                @include prefix(transform, translate(0%, 0%));
            }
        }
        
        .button {
            display:inline-block; height:auto; width:auto; margin:20px 0px; padding:0px; position:relative; z-index:5; cursor:pointer; overflow:hidden;
            text-decoration:none; text-align:center; color:$white; background-color:$royal; outline:0;

            @include prefix(transform, skewX(-20.5deg) translate(-50%, 0%));
            @include prefix(opacity, 0.00);  

            &.show {
                @include transition((opacity, transform),1s,$circ,0s);
                @include prefix(transform, skewX(-20.5deg) translate(0%, 0%));
                @include prefix(opacity, 1.00); 
            }
            .text {
                display:inline-block; position:relative; top:0px; margin:10px; z-index:3; 
                font-size:0.95em; font-family:$michelin-black; @include prefix(transform, skew(20.5deg));

                 /*-- breakpoints -- */
                /*
                @include break(tablet, $portrait){font-size:0.70em;}
                @include break(desktop, $desktop){font-size:0.85em;}
                @include break(desktop, $xl-width){font-size:0.95em;}
                */
             }    

            .roll-state {
                display:inline-block; width:100%; height:100%; margin:0px; position:absolute; top:0px; left:-100%; z-index:2; opacity:0.00; background-color:$yellow; 
                @include transition(all, 0.50s, $circ, 0s);
             }

            &.brandProfile_download_button {
                @include transition((opacity),1s,$circ,0s);
                @include prefix(opacity, 0.00); 
                position: absolute;
                width: 200px;
                top: 12px;
                z-index: 101;
                left: 565px;

                &.show {
                    @include prefix(opacity, 1.00); 
                }
            }
        }
        
        .button:hover {  
            cursor:pointer;
            .roll-state{left:0px; opacity:1.00; }
            .text{color:$navy;}
        }
        
        .closerLook {
            

            .bib {
                @include transition(opacity,1s, $backInOut, 0.25s);
                @include prefix(opacity, 0.00); 

                background: transparent url(../_media/images/bib_mag.png) bottom center no-repeat;  background-size: 100%; width: 900px; margin: 0 0 0 -450px;
                bottom: -26px; left: 50%;
                background-size: 100%;
                height: 804px; position: relative;
            
                @include break(desktop, $lg-width){
                    width: 1000px;
                    margin: 0 0 0 -500px;
					bottom: -26px;
                }
                
                @include break(desktop, $xl-width){
                    width: 1100px;
                    margin: 0 0 0 -550px;
					bottom: -26px;
                }

                &.show {  @include prefix(opacity, 1.00); }
            }
            
            .bib_mag_glass {
                @include transition(transform translate opacity, 1s, $circ, 0.25s);
                @include prefix(opacity, 0.00); 

                background: transparent url(../_media/images/bib_mag_glass.png) bottom center no-repeat;
                background-size: contain;
                width: 197px;
                position: absolute;
                margin-left: -109px;
                left: 50%;
                z-index: 10;
                height: 100%;
                top: -268px;

                @include break(desktop, $lg-width){
                    width: 216px;
                    margin-left: -120px;
                    top: -308px;
                }

                @include break(desktop, $xl-width){
                    margin-left: -131px;
                    top: -353px; width: 235px;
                }

                &.enlarge { @include prefix(transform, translate(0%, -10%) scale(2.0)); }
                &.show {  @include prefix(opacity, 1.00);  }
            }

            .bib_mag_glass_bullets {
               
                width: 1000px;
                height: 200px;
                position: absolute;
                margin: 0 0 0 -500px;
                left: 50%; top: 150px;
                z-index: 101;
                ul {
                    color: $blue; list-style: none;
                
                    li {
                        width: 280px; display: inline; padding: 12px 6px; margin: 0 10px; background: white; float: left; font-weight: 400; font-family: $michelin-black; font-size: .9em;
                        
                        p { @include prefix(transform, skewX(20.5deg)); }
                    }
                    
                    & > li:nth-child(1) {
                        @include transition(transform opacity, 0.9s, $circ, 0);
                        @include prefix(transform, translate(-150px, 0) skewX(-20.5deg));
                        @include prefix(opacity, 0.00);
                        
                        &.show {
                            @include prefix(opacity, 1.00);
                            @include prefix(transform, translate(0, 0) skewX(-20.5deg));
                        }
                    }
                
                    & > li:nth-child(2) {
                        @include transition(transform opacity, 0.9s, $circ, 0.25s);
                        @include prefix(transform, translate(-150px, 0) skewX(-20.5deg));
                        @include prefix(opacity, 0.00);
                        
                        &.show {
                            @include prefix(opacity, 1.00);
                            @include prefix(transform, translate(0, 0) skewX(-20.5deg));
                        }
                    }
                
                    & > li:nth-child(3) {
                        @include transition(transform opacity, 0.9s, $circ, 0.50s);
                        @include prefix(transform, translate(-150px, -7px) skewX(-20.5deg));
                        @include prefix(opacity, 0.00);
                        
                        &.show {
                            @include prefix(opacity, 1.00);
                            @include prefix(transform, translate(0, -7px) skewX(-20.5deg));
                        }
                    }
                }
               
             }
        }
	}
}

