@font-face {
  font-family: Michelin-Black;
  src: url("fonts/MichelinW00Black.ttf");
  src: url("fonts/MichelinW00Black.eot");
  src: url("fonts/MichelinW00Black.woff"); }

@font-face {
  font-family: Michelin-Regular;
  src: url("fonts/MichelinW00Regular.ttf");
  src: url("fonts/MichelinW00Regular.eot");
  src: url("fonts/MichelinW00Regular.woff"); }

@font-face {
  font-family: Frutiger;
  src: url("fonts/FrutigerLT-Roman.ttf");
  src: url("fonts/FrutigerLT-Roman.eot");
  src: url("fonts/FrutigerLT-Roman.woff"); }

body {
  font-family: Frutiger, sans-serif;
  font-size: 1em; }

h1 {
  font-family: Michelin-Black, sans-serif; }

@-webkit-keyframes nextPulse {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px); }
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }

@-moz-keyframes nextPulse {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px); }
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }

@-o-keyframes nextPulse {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px); }
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes nextPulse {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px); }
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }

@-webkit-keyframes scrollPulse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; } }

@-moz-keyframes scrollPulse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; } }

@-o-keyframes scrollPulse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; } }

@keyframes scrollPulse {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; } }

@-webkit-keyframes scrollFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes scrollFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes scrollFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scrollFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes preload {
  100% {
    background-position: -2400px 0px; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg); }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg); }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg); }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg); }
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes slidesOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-moz-keyframes slidesOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-o-keyframes slidesOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes slidesOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes slidesIn {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-moz-keyframes slidesIn {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-o-keyframes slidesIn {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes slidesIn {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes slidesOutReverse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }

@-moz-keyframes slidesOutReverse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }

@-o-keyframes slidesOutReverse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes slidesOutReverse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }

@-webkit-keyframes slidesInReverse {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-moz-keyframes slidesInReverse {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-o-keyframes slidesInReverse {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes slidesInReverse {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

/*-- device orientation width --*/
/*-- desktop variable widths --*/
/*-- desktop variable heights --*/
/*
@mixin midWidth($minwidth, $maxWidth) {
    @if ($minwidth > $landscape) and ($maxwidth < $md-width) {
        @media (max-width: $maxwidth) and (min-width: $minwidth) { @content; }
  }
}
*/
* {
  margin: 0;
  padding: 0; }

body, #contentArea, .x-panel-body {
  margin: 0px auto;
  background-color: #040d4e;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

#logo {
  display: block;
  width: 195px;
  height: 80px;
  position: absolute;
  right: 0px;
  z-index: 100;
  opacity: 1.00;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  background: url(../_media/images/logo.png) top right no-repeat transparent;
  /*- breakpoints -*/ }
  @media (max-width: 1024px) {
    #logo {
      background-size: 75% auto;
      top: 15px; } }
  @media (orientation: portrait) {
    #logo {
      background-size: 75% auto;
      top: 15px; } }
  @media (min-width: 1025px) {
    #logo {
      background-size: 80% auto;
      top: 20px; } }
  @media (min-width: 1280px) {
    #logo {
      background-size: 90% auto;
      top: 20px; } }
  @media (min-width: 1366px) {
    #logo {
      background-size: 100% auto;
      top: 20px; } }
  @media (max-height: 650px) and (min-width: 1025px) {
    #logo {
      background-size: 75% auto;
      top: 10px; } }
  #logo.hide {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    -webkit-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.superscript {
  font-size: .7em; }

#mask {
  display: inline-block;
  margin: 0px auto;
  text-align: center; }
  #mask #media {
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    -webkit-background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 80%);
    -moz-background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 80%);
    -ms-background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 80%);
    -o-background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 80%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 80%);
    -webkit-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -o-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    /*- breakpoints -*/ }
    @media (max-width: 1024px) {
      #mask #media {
        width: 100%;
        height: 110px;
        padding: 0;
        margin: 0px auto;
        text-align: center; } }
    @media (min-width: 1025px) {
      #mask #media {
        width: 100%;
        height: 110px;
        padding: 25px 0px 0px 0px;
        margin: 0px auto;
        text-align: center; } }
    @media (min-width: 1280px) {
      #mask #media {
        width: 100%;
        height: 125px;
        padding: 25px 0px 0px 0px;
        margin: 0px auto;
        text-align: center; } }
    @media (max-height: 750px) and (min-width: 1025px) {
      #mask #media {
        width: 100%;
        height: 100px;
        padding: 15px 0px 0px 0px;
        margin: 0px auto;
        text-align: center; } }
    #mask #media.hide {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%); }
    #mask #media.show {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); }
    #mask #media #scrubber {
      display: inline-block;
      padding: 0px;
      vertical-align: middle;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
      -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
      -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
      transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      /*- breakpoints -*/ }
      @media (max-width: 1024px) {
        #mask #media #scrubber {
          width: 100%;
          margin: 0px auto;
          -webkit-transform: translate(0px, 20%);
          -moz-transform: translate(0px, 20%);
          -ms-transform: translate(0px, 20%);
          -o-transform: translate(0px, 20%);
          transform: translate(0px, 20%); } }
      @media (orientation: portrait) {
        #mask #media #scrubber {
          width: 100%;
          margin: 0px auto;
          -webkit-transform: translate(0px, 20%);
          -moz-transform: translate(0px, 20%);
          -ms-transform: translate(0px, 20%);
          -o-transform: translate(0px, 20%);
          transform: translate(0px, 20%); } }
      @media (min-width: 1025px) {
        #mask #media #scrubber {
          width: 80%;
          margin: 0px 10%;
          -webkit-transform: translate(0px, 0%);
          -moz-transform: translate(0px, 0%);
          -ms-transform: translate(0px, 0%);
          -o-transform: translate(0px, 0%);
          transform: translate(0px, 0%); } }
      @media (max-height: 750px) and (min-width: 1025px) {
        #mask #media #scrubber {
          width: 80%;
          margin: 0px 10%;
          -webkit-transform: translate(0px, 5px);
          -moz-transform: translate(0px, 5px);
          -ms-transform: translate(0px, 5px);
          -o-transform: translate(0px, 5px);
          transform: translate(0px, 5px); } }
      #mask #media #scrubber .play-pause {
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        /*- breakpoints -*/ }
        @media (max-width: 1024px) {
          #mask #media #scrubber .play-pause {
            width: 10%;
            height: 30px;
            padding: 0px; } }
        @media (min-width: 1025px) {
          #mask #media #scrubber .play-pause {
            width: 10%;
            height: 30px;
            padding: 0px; } }
        @media (min-width: 1280px) {
          #mask #media #scrubber .play-pause {
            width: 10%;
            height: 40px;
            padding: 0px; } }
        @media (max-height: 750px) and (min-width: 1025px) {
          #mask #media #scrubber .play-pause {
            width: 10%;
            height: 30px;
            padding: 0px; } }
        #mask #media #scrubber .play-pause .icon {
          display: inline-block;
          text-align: center;
          cursor: pointer;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          /*- breakpoints -*/ }
          @media (max-width: 1024px) {
            #mask #media #scrubber .play-pause .icon {
              width: 30px;
              height: 30px; } }
          @media (min-width: 1025px) {
            #mask #media #scrubber .play-pause .icon {
              width: 30px;
              height: 30px; } }
          @media (min-width: 1280px) {
            #mask #media #scrubber .play-pause .icon {
              width: 40px;
              height: 40px; } }
          @media (max-height: 750px) and (min-width: 1025px) {
            #mask #media #scrubber .play-pause .icon {
              width: 30px;
              height: 30px; } }
          #mask #media #scrubber .play-pause .icon svg path {
            fill: rgba(255, 255, 255, 0.8);
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s; }
        #mask #media #scrubber .play-pause .icon:Hover {
          background-color: rgba(35, 36, 38, 0.25);
          border-radius: 2px; }
          #mask #media #scrubber .play-pause .icon:Hover > svg path {
            fill: white; }
      #mask #media #scrubber .progress-bar {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        /*- breakpoints -*/ }
        @media (max-width: 1024px) {
          #mask #media #scrubber .progress-bar {
            width: 70%;
            height: 6px;
            padding: 0px; } }
        @media (min-width: 1025px) {
          #mask #media #scrubber .progress-bar {
            width: 70%;
            height: 6px;
            padding: 0px; } }
        @media (min-width: 1280px) {
          #mask #media #scrubber .progress-bar {
            width: 70%;
            height: 8px;
            padding: 0px; } }
        @media (max-height: 750px) and (min-width: 1025px) {
          #mask #media #scrubber .progress-bar {
            width: 70%;
            height: 6px;
            padding: 0px; } }
        #mask #media #scrubber .progress-bar .progress {
          display: inline-block;
          height: 100%;
          float: left;
          margin: 0px;
          padding: 0px;
          background-color: rgba(35, 36, 38, 0.5); }
      #mask #media #scrubber .cc-button {
        display: inline-block;
        vertical-align: middle;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        /*- breakpoints -*/ }
        @media (max-width: 1024px) {
          #mask #media #scrubber .cc-button {
            width: 10%;
            height: 30px; } }
        @media (min-width: 1025px) {
          #mask #media #scrubber .cc-button {
            width: 10%;
            height: 30px;
            padding: 0px; } }
        @media (min-width: 1280px) {
          #mask #media #scrubber .cc-button {
            width: 10%;
            height: 40px;
            padding: 0px; } }
        #mask #media #scrubber .cc-button .icon {
          display: inline-block;
          text-align: center;
          cursor: pointer;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          /*- breakpoints -*/ }
          @media (max-width: 1024px) {
            #mask #media #scrubber .cc-button .icon {
              width: 30px;
              height: 30px; } }
          @media (min-width: 1025px) {
            #mask #media #scrubber .cc-button .icon {
              width: 30px;
              height: 30px; } }
          @media (min-width: 1280px) {
            #mask #media #scrubber .cc-button .icon {
              width: 40px;
              height: 40px; } }
          @media (max-height: 750px) and (min-width: 1025px) {
            #mask #media #scrubber .cc-button .icon {
              width: 30px;
              height: 30px; } }
          #mask #media #scrubber .cc-button .icon svg path {
            fill: rgba(255, 255, 255, 0.8);
            -webkit-transition-property: all;
            -moz-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s; }
        #mask #media #scrubber .cc-button .icon:Hover {
          background-color: rgba(35, 36, 38, 0.25);
          border-radius: 2px; }
          #mask #media #scrubber .cc-button .icon:Hover > svg path {
            fill: white; }
      #mask #media #scrubber.replay .play-pause, #mask #media #scrubber.replay .progress-bar, #mask #media #scrubber.replay .cc-button {
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
        -webkit-transition-delay: 0.25s;
        -moz-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        transition-delay: 0.25s; }
      #mask #media #scrubber.replay .progress-bar {
        width: 0px;
        height: 8px;
        opacity: 0.00; }
      #mask #media #scrubber.replay .cc-button {
        width: 0px;
        opacity: 0.00; }

#cc-text {
  display: block;
  text-align: center;
  margin: 0px auto;
  position: relative;
  z-index: 1500;
  overflow: hidden;
  /*- breakpoints -*/ }
  @media (max-width: 1024px) {
    #cc-text {
      min-height: 30px;
      max-height: 100px;
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      transform: translate(0px, 0px); } }
  @media (min-width: 1025px) {
    #cc-text {
      min-height: 30px;
      max-height: 100px;
      -webkit-transform: translate(0px, 5px);
      -moz-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
      -o-transform: translate(0px, 5px);
      transform: translate(0px, 5px); } }
  @media (min-width: 1025px) {
    #cc-text {
      min-height: 30px;
      max-height: 100px;
      -webkit-transform: translate(0px, 5px);
      -moz-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
      -o-transform: translate(0px, 5px);
      transform: translate(0px, 5px); } }
  @media (min-width: 1280px) {
    #cc-text {
      min-height: 40px;
      max-height: 150px;
      -webkit-transform: translate(0px, -10px);
      -moz-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
      -o-transform: translate(0px, -10px);
      transform: translate(0px, -10px); } }
  @media (max-height: 750px) and (min-width: 1025px) {
    #cc-text {
      min-height: 30px;
      max-height: 100px;
      -webkit-transform: translate(0px, -5px);
      -moz-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
      -o-transform: translate(0px, -5px);
      transform: translate(0px, -5px); } }
  #cc-text p {
    display: inline-block;
    width: auto;
    margin: 0px auto;
    padding: 0px;
    -webkit-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    /*- breakpoints -*/ }
    #cc-text p span {
      display: inline-block;
      padding: 8px 15px;
      font-family: Frutiger, sans-serif;
      background-color: rgba(0, 0, 0, 0.3);
      font-weight: normal;
      color: #fff;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;
      border-radius: 1px; }
      #cc-text p span sup {
        font-size: 50%; }
    @media (max-width: 1024px) {
      #cc-text p {
        font-size: 0.85em; } }
    @media (orientation: portrait) {
      #cc-text p {
        font-size: 0.75em; } }
    @media (min-width: 1025px) {
      #cc-text p {
        font-size: 0.85em; } }
    @media (min-width: 1280px) {
      #cc-text p {
        font-size: 1.10em; } }
    @media (max-height: 750px) and (min-width: 1025px) {
      #cc-text p {
        font-size: 0.85em; } }
    #cc-text p.cc-set {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      transform: translate(0px, 0px); }
    #cc-text p.cc-remove {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      -webkit-transform: translate(0px, 100px);
      -moz-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
      -o-transform: translate(0px, 100px);
      transform: translate(0px, 100px); }

#messages {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2000;
  overflow: hidden;
  background-color: rgba(0, 90, 170, 0.65);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  /*- breakpoints -*/ }
  @media (max-width: 1024px) {
    #messages {
      min-height: 26px;
      padding: 6px 0px; } }
  @media (min-width: 1025px) {
    #messages {
      min-height: 26px;
      padding: 6px 0px; } }
  @media (max-height: 750px) and (min-width: 1025px) {
    #messages {
      min-height: 15px;
      padding: 3px 0px; } }
  #messages.open {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  #messages.close {
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  #messages .info {
    font-size: 0.85em;
    font-family: Frutiger, sans-serif;
    color: #fff; }

#transition .cover {
  width: 200%;
  height: 150%;
  position: absolute;
  top: 0px;
  z-index: 900;
  background-color: #0b2d6d;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  margin: 0px;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5); }
  #transition .cover.add {
    opacity: 1.00;
    left: -20%;
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 3s, 2s;
    -moz-transition-duration: 3s, 2s;
    -o-transition-duration: 3s, 2s;
    transition-duration: 3s, 2s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    /*transition:left 3s $circ 0s, opacity 2s $circ 0s;*/
    /*- breakpoints -*/ }
    @media (max-width: 1024px) {
      #transition .cover.add {
        left: -20%; } }
    @media (orientation: portrait) {
      #transition .cover.add {
        left: -40%; } }
    @media (min-width: 1025px) {
      #transition .cover.add {
        left: -20%; } }
  #transition .cover.remove {
    opacity: 0.00;
    left: -220%;
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    -webkit-transition-duration: 3s, 4s;
    -moz-transition-duration: 3s, 4s;
    -o-transition-duration: 3s, 4s;
    transition-duration: 3s, 4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    /*- breakpoints -*/ }
    @media (max-width: 1024px) {
      #transition .cover.remove {
        left: -220%; } }
    @media (orientation: portrait) {
      #transition .cover.remove {
        left: -240%; } }
    @media (min-width: 1025px) {
      #transition .cover.remove {
        left: -220%; } }

#transition .preloader {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 950;
  margin: -100px 0px 0px -100px;
  text-align: center;
  -50%-transform-origin: 50%;
  transform-origin: 50%; }
  #transition .preloader.hide {
    opacity: 0.00;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition-property: transform, opacity, filter;
    -moz-transition-property: transform, opacity, filter;
    -o-transition-property: transform, opacity, filter;
    transition-property: transform, opacity, filter;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  #transition .preloader.show {
    opacity: 1.00;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition-property: transform, opacity, filter;
    -moz-transition-property: transform, opacity, filter;
    -o-transition-property: transform, opacity, filter;
    transition-property: transform, opacity, filter;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -moz-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -o-transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.15, 1);
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
  #transition .preloader .disc {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    overflow: hidden; }
    #transition .preloader .disc svg.loader {
      width: 100%;
      height: 100%;
      -webkit-transform: scaleY(-1) rotate(90deg);
      -moz-transform: scaleY(-1) rotate(90deg);
      -ms-transform: scaleY(-1) rotate(90deg);
      -o-transform: scaleY(-1) rotate(90deg);
      transform: scaleY(-1) rotate(90deg);
      position: relative;
      z-index: 955; }
      #transition .preloader .disc svg.loader path {
        stroke-width: 14px;
        fill: none; }
        #transition .preloader .disc svg.loader path.loader-track {
          stroke: #040d4e;
          fill: #040d4e; }
    #transition .preloader .disc.modern-loader {
      border-radius: 50%;
      padding: 15px 0px; }
      #transition .preloader .disc.modern-loader .preload-img {
        display: inline-block;
        width: 167px;
        height: 167px;
        margin: 0px;
        padding: 0px;
        border-radius: 50%;
        background: url("../_media/images/bib.jpg") center center no-repeat transparent;
        position: relative;
        top: -188px;
        z-index: 956; }
      #transition .preloader .disc.modern-loader svg.loader path.loader-fill {
        stroke: #ffe700;
        stroke-dasharray: 600;
        stroke-dashoffset: 600; }
      #transition .preloader .disc.modern-loader svg.loader path.loader-progress {
        display: none;
        visibility: hidden;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0; }
    #transition .preloader .disc.ie-loader {
      width: 200px;
      height: 200px;
      padding: 0px;
      background: url("../_media/images/preload_sheet.jpg") 0px 0px no-repeat #0b2d6d;
      animation: preload 1.5s steps(12) infinite; }
      #transition .preloader .disc.ie-loader svg.loader {
        display: none; }
        #transition .preloader .disc.ie-loader svg.loader path.loader-fill {
          display: none;
          visibility: hidden;
          -webkit-opacity: 0;
          -moz-opacity: 0;
          -ms-opacity: 0;
          -o-opacity: 0;
          opacity: 0; }
        #transition .preloader .disc.ie-loader svg.loader path.loader-progress {
          stroke: rgba(0, 90, 170, 0.7);
          stroke-dasharray: 200;
          stroke-dashoffset: 300;
          transform-origin: center; }
  #transition .preloader .loadingMessage {
    width: 1000px;
    height: 300px;
    z-index: 1000;
    position: absolute;
    top: 225px;
    text-align: center;
    margin: -100px 0 0 -200px;
    color: #005aaa;
    font-style: italic;
    font-size: .8em;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -moz-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -o-transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    transition-timing-function: cubic-bezier(1, 0, 0.345, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    overflow: hidden; }
    #transition .preloader .loadingMessage img {
      width: 100%;
      height: 100%; }
    #transition .preloader .loadingMessage.show {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }
    #transition .preloader .loadingMessage.hide {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0; }
    #transition .preloader .loadingMessage p {
      position: relative;
      top: 154px; }

#bookmarkDialog {
  position: relative;
  background: #232426;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;
  width: 50%;
  height: 50%;
  padding: 5%;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.5); }
  #bookmarkDialog.fadeIn {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  #bookmarkDialog.fadeOut {
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    -o-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }

/*# sourceMappingURL=player.css.map */