@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
  
.content-wrapper {display:block; width:100%; float:left; padding-top:0px; background-color:#fff;} 

/*-- welcome/overview --*/
.overview-bg {background:url("../img/pp11/overview_bg.jpg") top right no-repeat transparent; background-size:cover; min-height:450px;}
#welcome .callout-container {background-color:#303f4d; padding:20px; text-indent:0px; box-sizing:border-box;}

/*-- patient information --*/
.sidebar {display:inline-block; margin-top:15px; margin-bottom:15px; border-radius:4px; background-color:#fff; border:solid 1px rgba(150, 150, 150, 0.25);}
.patient-info-bg {background:url("../img/pp11/chop-building-background.jpg") 25% 0% no-repeat transparent;}
.hippa-icon {margin-top:-20px; position:relative; z-index: 200;}
.hippa-divider {border-top:dotted 1px #ccc; border-bottom:dotted 1px #ccc; padding:40px 0px 30px 0px; margin-top:-70px;}

/*-- fire prevention and fire safety --*/
.pr-bg {background:url("../img/pp11/pr_bg.jpg") 50% 50% no-repeat transparent; background-size:cover;}
.fs-border  {border-left:solid 1px #fff; padding-bottom:10px;}

/*-- privacy breach --*/
.chart {margin:0px 0px 0px 0px;}
.chart.divider {box-sizing:border-box; padding:0px 1px;}
.chart .chart-stem {padding-bottom:9px; margin:0px 0px 9px 0px; background:url('../img/pp11/chart-stem.gif') center bottom no-repeat transparent; position:relative; z-index:200;}
.chart .chart-stem span {display:block; width:100%; padding:8px 0px; margin:0px; font-size:1.10em; font-weight:bold; color:#fff; background-color:#303f4d; }
.chart .chart-info {padding:5px 0px; margin-top:-10px; margin-bottom:10px; background-color:#ffffff; position:relative; z-index:100;}

/*-- careful with patient information --*/
.careful-bg {background:url("../img/pp11/careful-background.jpg") top left no-repeat #e4e4dd; background-size:auto 100%;}

/*-- incidents --*/
.incidents-bg {background:url("../img/pp11/incidents_bg.png") 110% 100% no-repeat transparent; background-size:auto 90%;}
.incident {display:block; width:100%; float:left; margin:15px 0px;}
.incident .number {display:block; float:left; width:auto; min-width:40px;  box-sizing:border-box; margin-right:20px; /*border-radius:100%; border:solid 4px #b32a12; background-color:#fff;*/ }
.incident .number h2 {display:block; width:100%; margin:0px; padding:0px; position:relative; top:0px; font-family:"Domine", serif; font-weight:700; font-size:250%; }
.incident .content {display:block; width:auto; margin-left:50px; padding-left:20px; position:relative; top:0px; box-sizing:border-box; border-left:solid 1px #ddd;}

/*-- prompt action to minimize --*/
.action-background {background:url(../img/pp11/records.jpg) top center no-repeat transparent; background-size:cover;}
.action-list {background-color:rgba(255,255,255, 0.95); border-radius:4px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.3)}
.action-item {}
.action-list .action-item .action {display:inline-block; float:left; margin:5px 0px; padding:0px; text-align:left; font-weight:bold;}
.action-list .action-item ul {display:inline-block; float:left; }
.action-list .action-item ul li {margin-top:5px;}
.action-list div:last-child  {border-radius:0px 0px 4px 4px; }

/*-- thank you --*/
.thankyou-bg {background-image:url("../img/pp11/thank-you.png"); background-position:bottom left; background-repeat:no-repeat; background-color:transparent; background-size:auto 100%;}

/*-- footer --*/
.footer {display:block; float:left; width:90%; padding:30px 5%; margin:0px; background-color:#0463b3; border-top:solid 8px #004f84;}
.footer .footer-logo {display:block; width:100%; float:left; padding:25px 0px;}
a.footer-link {color:#fff; text-decoration:none; margin:10px 0px;}
a.footer-link:hover {background-color:#004f84; padding:5px 8px; border-radius:3px;}

.eq-callout {background-color:rgba(254, 254, 254, 0.75); padding:8px 15px; border-radius:4px; border:solid 1px rgba(150, 150, 150, 0.25); width:auto; display:inline-block; box-sizing: border-box;}
.shadow {box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.inner-shadow {box-shadow:0 0 40px rgba(0, 0, 0, 0.25) inset;}
.shadow-txt {text-shadow:0px 2px 3px rgba(0, 0, 0, 0.60); }

/*-- Media Breakpoints --*/

/*-- +++++++++++++++++++++++++++++ --*/
/*-- handhelds --*/
/*-- +++++++++++++++++++++++++++++ --*/

@media only screen and (orientation: landscape) {  }
@media only screen and (orientation: portrait) {}
@media only screen and (max-width:640px) and (orientation: landscape) {  }

@media only screen and (min-width:300px) and (max-width:767px) {   
body {font-size:0.90em;}
.shadow {box-shadow:none;}
.no-show { display:none; visibility:hidden;}
.desk-only {display:none; visibility:hidden;}
.mobile-only {display:block; visibility:visible;}
.content-wrapper {display:block; width:100%; float:left; background-image:none;}
    
/*-- welcome/overview --*/
.overview-bg {background-position:top left; background-size:cover; min-height:400px;}
    
/*-- incidents --*/
.incidents-bg {background-position:200% 50%; background-size:auto 0%;} 
    
/*-- careful with patient information --*/
.careful-bg {background-image:none; background:none;}
    
/*-- thank you --*/
.thankyou-bg {background-position:50% 100%; padding-bottom:300px; background-size:auto 320px;}
    
}

@media only screen and (min-width : 768px) {
.mobile-only {display:none; visibility:hidden;}
.content-wrapper {display:block; width:100%; float:left; background-image:none;}
    
/*-- welcome/overview --*/
.overview-bg {background-position:top right; background-size:cover; min-height:450px;}

.chart .chart-stem span {min-height:55px;}
    
/*-- careful with patient information --*/
.careful-bg {background-position:-200px 0px; background-size:auto 100%;}
    
/*-- incidents --*/
.incidents-bg {background-position:125% 50%; background-size:auto 80%;}    
    
/*-- thank you --*/
.thankyou-bg {background-position:-60px 100%; padding-bottom:0px; background-size:auto 100%;}
    
}

/*-- +++++++++++++++++++++++++++++ --*/
/*-- desktops --*/
/*-- +++++++++++++++++++++++++++++ --*/

@media only screen and (min-width : 1024px)  {
.mobile-only {display:none; visibility:hidden;}
.content-wrapper {display:block; width:100%; float:left;} 
.shadow {box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
  
/*-- incidents --*/
.incidents-bg {background-position:100% 50%; background-size:auto 80%;}    
    
/*-- thank you --*/
.thankyou-bg {background-position:10% 100%; padding-bottom:0px; background-size:auto 100%;}
}


@media only screen and (min-width : 1200px)  {
.chart .chart-stem span {min-height:auto;}  
    
/*-- incidents --*/
.incidents-bg {background-position:100% 50%; background-size:auto 100%;}   
    
/*-- careful with patient information --*/
.careful-bg {background-position:top left;}
    
/*-- thank you --*/
.thankyou-bg {background-position:15% 5%; padding-bottom:0px; background-size:auto 100%; padding-bottom:60px;}
}


@media only screen and (min-width : 1920px) {
.content-wrapper {display:block; width:100%; max-width:1600px; float:left; box-shadow: 0px 0px 6px rgba(0,0,4,0.50);} 
}