@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

/*-- Welcome Section --*/
.welcome {background:url("../img/sca04/welcome_bg.jpg") 0% 0% no-repeat #ffffff; background-size:100% 700px;}
.welcome-dyk {height:100%; width:100%;}
.welcome-dyk .callout-container {background-color:#303f4d; margin:0px 0px 15px 0px; padding:5px; text-indent:0px;}
.welcome-dyk .callout-container .callout {color:#fff; margin:5px 0px 0px 20px; padding:5px;}
.welcome-text {display:block; float:left; width:50%; margin:0px 5%;}
.welcome-character {background:url("../img/sca04/solemngirl.png") 130% 0% no-repeat transparent; background-size:auto 100%; padding-bottom:50px;}

/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 80% 105% no-repeat transparent; background-size:auto 55%;}

/*Red Flags*/
.red-flags {display:block; width:80%; float:left; padding:0px 10%; background:url('../img/sca04/redflag.png') 15% 0% no-repeat transparent; background-size:auto 110%; margin-top:-5%; margin-bottom:-5px;}
.red-flags-text {padding:14% 10% 14% 5%;}


/* Your Safe Haven Role */
.role-background {background:url("../img/sca04/newborn.jpg")  center center no-repeat #303f4d;}
.role-quotes {display:inline-block; width:85%; margin-left:5%; text-align:left; margin-top:0px; margin-bottom:0px; padding:0px; font-size:1.15em; font-style:italic; font-weight:bold;}
.role-letters span {display:block; height:50px; width:50px; border-radius:50px; border:solid 3px #303f4d; background-color:#fff; line-height:48px; font-family:"Domine",serif; font-size:2.25em; font-weight:bold; color:#B32A12; position:relative; left:50%; margin:0px; padding:0px; margin-left:-25px;}

/* ER Procedures */
.er-procedures-bg {background:url("../img/sca04/er.jpg") center center no-repeat #fff; background-size:cover;}
.er-procedures {padding:0px; margin:10px 0px; width:100%;}
.er-procedures-chart {background-color:rgba(255, 255, 255, 0.90); margin:25px 0px; padding:15px 0px 25px 0px; border-radius:2px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);}
.er-procedures p {display: block; float:left; margin:0px; padding:10px 0px; width:100%; box-sizing: border-box;}
.er-procedures p span.number {display:inline-block;  margin:0px; font-weight:normal;height:100%; color:#383838; width:15%; font-weight: bold; font-size:3.0em; font-family:"Domine",serif; text-align:center; vertical-align:middle;}
.er-procedures p span.step {display:inline-block;margin:0px; padding:0px 5%; font-weight:normal; color:#383838; width:75%; border-left:solid 1px #bbb; box-sizing: border-box; vertical-align:middle;}

.footer-img {margin-top:-80px; width:80%; max-width:440px; min-width:180px;}

/* Background Orientation Resize */
.bg-size {background-size:auto 100%;}

.chart-odd {background-color:#fff; border:solid 1px #d0d3d3; border-left:0px; border-right:0px;}
.chart-even {background-color:#cad8da;} 

.sidebar {min-width:200px; border-radius:4px;  background-color:#fff; border:solid 1px rgba(150, 150, 150, 0.25);}
.eq-callout {background-color:rgba(254, 254, 254, 0.75); padding:8px 15px; border-radius:4px; border:solid 1px rgba(150, 150, 150, 0.25); width:auto; display:inline-block;}
.shadow {box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.inner-shadow {box-shadow:0 0 40px rgba(0, 0, 0, 0.25) inset;}

/*-- Media Breakpoints --*/

/*-- +++++++++++++++++++++++++++++ --*/
/*-- handhelds --*/
/*-- +++++++++++++++++++++++++++++ --*/

@media only screen and (orientation: landscape) {
.role-background {background-size:100% auto;}  
.bg-size {background-size:100% auto;}
}

@media only screen and (orientation: portrait) {
.role-background {background-size:auto 100%;}
.bg-size {background-size:auto 100%;}
}

@media only screen and (max-width:640px) and (orientation: landscape) {

}

@media only screen and (min-width:200px) and (max-width:767px) { 
    
body {font-size:0.90em;}
    
.shadow {box-shadow:none;}
.no-show { display:none; visibility:hidden;}
.desk-only {display:none; visibility:hidden;}
.mobile-only {display:block; visibility:visible;}

.welcome {background-position:50% 0px; margin-bottom:0px;}
.welcome-text {display:block; float:left; width:90%; margin:0px 5%;}
.welcome-character {background-image:none;}
  
.role-letters {background:url("../img/sca04/dotted-line.gif") center center repeat-x transparent;}
.role-quotes {display:inline-block; float:left; width:100%; margin:10px 0px; padding:0px; text-align:center;}
    
.red-flags {background-image:none;}
.red-flags-text {padding:14% 0% 14% 0%;}
    
/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 50% 100% no-repeat transparent; background-size:50%; padding-bottom:50%;}
}

@media only screen and (max-width:320px) {   

}

@media only screen and (max-height:360px){     

}

@media only screen and (min-width : 768px) and (max-width:1023px) {
.mobile-only {display:none; visibility:hidden;}

.welcome {background-position:0% 0%; margin-bottom:0px;}
.welcome-text {display:block; float:left; width:55%; margin:0px 5%;}
.welcome-character {background-position:350px 0%; background-size:auto 100%; padding-bottom:20px;}    
    
.red-flags {background:url('../img/sca04/redflag.png') 0% 0% no-repeat transparent; background-size:auto 110%; margin-top:-5%; margin-bottom:-5px;}
.red-flags-text {padding:14% 0% 14% 0%;}
    
/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 120% 100% no-repeat transparent; background-size:60% auto; padding-bottom:10%;}
}


/*-- +++++++++++++++++++++++++++++ --*/
/*-- desktops --*/
/*-- +++++++++++++++++++++++++++++ --*/

@media only screen and (min-width : 1024px)  {

.mobile-only {display:none; visibility:hidden;}
.shadow {box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
     
.welcome-dyk {}
.welcome {background-position:0% 0%; margin-bottom:0px;}
.welcome-character {background-position:110% 0%; background-size:auto 100%; }
    
.red-flags-text {padding:14% 10% 14% 0%;}
    
/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 90% 100% no-repeat transparent; background-size:auto 50%; padding-bottom:10%;}
}

@media only screen and (min-width : 1400px) {

.welcome-character {background-position:150% 0%; background-size:auto 100%; }

.shadow {box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}

.red-flags-text {padding:14% 15% 14% 0%;}
    
/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 100% 100% no-repeat transparent; background-size:auto 50%; padding-bottom:50px;}
}

@media only screen and (min-width : 1600px) {

.welcome-character {background-position:110% 0%; background-size:auto 100%; }

}

@media only screen and (min-width : 1920px) {

.welcome-character {background-position:100% 0%; background-size:auto 100%; }
/* Neglect Abuse Family Violence*/
.neglect {background:url("../img/sca04/solemnboy.png") 80% 100% no-repeat transparent; background-size:auto 50%; padding-bottom:50px;}

}

