@import "partials/color";
@import "partials/type";
@import "partials/transitions";
@import "partials/prefixes";
@import "partials/pages";

body {margin:0px auto; background-color:$blue;}

/*-- desktop breakpoints --*/
$sm-height:650px;
$md-height:700px;

#preload-audio{display:none;}

#intro {
    display:block; width:100%; height:100%; position:absolute; top:0px; left:0px; opacity:1.00; overflow:hidden; @include prefix(filter,blur(0px)); @include transition(all,2s,$circ,0s); 
    &.hide {
        @include prefix(opacity,0.00); @include prefix(filter,blur(3px)); 
    }
    &.show {
        @include prefix(opacity,1.00); @include prefix(filter,blur(0px)); @include transition(all,2.5s,$circ,0s);
    }
    .overlay {
        width:100%; height:100%; margin:0px auto; padding:0px; position:absolute; top:0px; left:0px; z-index:200; overflow:hidden;
        .welcome {
            width:100%; height:100%; margin:0px auto; padding:0px; position:absolute; top:0px; left:0px; overflow:hidden;
            
            background-image:url("../_media/images/mb_intro.jpg");
            background-repeat: no-repeat;
            background-color:#0b2d6d; 
        
            /* -- breakpoints --*/
            @include break(tablet){background-size:auto 55%; background-position:110% 60%;}
            @include break(tablet,$portrait){background-size:auto 53%; background-position:75% 100%;}

            @include break(desktop, $desktop){background-size:auto 58%; background-position:center right;}
            @include break(desktop, $sm-width){background-size:auto 50%; background-position:center right;}
            @include break(desktop, $md-width){background-size:auto 59%; background-position:center right;}
            
            @include break(desktop, $desktop + 1, $sm-height){background-size:auto 50%; background-position:100% 50%;}
            
            .plaque {
                display:inline-block; width:60%; height:400px; color:$white; text-align:left;

                /* -- breakkpoints --*/
                @include break(phone){}
                @include break(tablet){position:absolute; top:25%; left:60px;}
                @include break(tablet, $portrait){position:absolute; top:12%; left:0px; width:80%; margin:0px 10%;}

                @include break(desktop, $desktop){position:absolute; top:25%; left:8%;}
                @include break(desktop, $sm-width){position:absolute; top:25%; left:8%;}
                
                @include break(desktop, $desktop + 1, $sm-height){position:absolute; top:20%; left:10%;}                

                h1 {
                    &.brand {
                        font-size:1.25em; margin:0px;

                        /* -- breakkpoints --*/
                        @include break(tablet){font-size:1.25em; margin:0px 0px 0px 1%;}
                        
                        @include break(desktop, $desktop ){font-size:1em; margin:-5px 0px 0px 1%;}
                        @include break(desktop, $sm-width){font-size:1em; margin:-5px 0px 0px 1%;}
                        @include break(desktop, $md-width){font-size:1.5em; margin:-5px 0px 0px 1%;}
                        
                        @include break(desktop, $desktop + 1, $sm-height){font-size:1em; margin:-5px 0px 0px 1%;}


                        span {
                            sup {font-family:sans-serif; font-size:50%; display:inline-block; @include prefix(transform, translate(50%, 0%));}
                        }
                    }
                    &.title {
                        font-size:3.5em; margin:-5px 0px 0px 20px;

                        /* -- breakkpoints --*/
                        @include break(tablet){font-size:2.5em; margin:-5px 0px 0px 0px;}
                        @include break(tablet, $portrait){font-size:3.5em; margin:0px;}

                        @include break(desktop, $desktop){font-size:2.4em; margin:-5px 0px 0px 0px;}
                        @include break(desktop, $sm-width){font-size:2.6em; margin:-5px 0px 0px 0px;}
                        @include break(desktop, $md-width){font-size:3.2em; margin:-5px 0px 0px 0px;}
                        @include break(desktop, $lg-width){font-size:4em; margin:-5px 0px 0px 0px;}
                        
                        @include break(desktop, $desktop + 1, $sm-height){font-size:2.5em; margin:-5px 0px 0px 0px;}

                        span:first-child {
                            sup {
                                font-family:sans-serif; font-size:15%; display:inline-block; @include prefix(transform, translate(90%,-90%));
                            }
                        }
                    }
                    sup {font-size:20%;}
                }
                
                .instructions {
                    margin:0px 0px 0px -1%;
                }

                .button {
                    display:inline-block; background-color:$royal; padding:12px 15px; overflow:hidden; cursor:pointer; @include prefix(transform, translate(0px, 50px) skew(-20.5deg));
                                        
                    /*- breakpoints -*/                    
                    @include break(desktop, $desktop + 1, $sm-height){@include prefix(transform, translate(-20px, 30px) skew(-20.5deg));}

                    .static-state{
                        margin:0px; padding:0px; position:relative; z-index:22; color:$white; font-family:$michelin-black; color:$white; font-size:0.80em;

                        @include prefix(transform,skew(20deg));
                        @include transition(color, 1s, $ease-out,0.25s);
                    }
                    .roll-state {
                        height:100%; width:100%; margin:0px; padding:0px; position:absolute; top:0px; left:0px; z-index:20;  background-color:$yellow; opacity:0.00;
                        @include transition(all, 0.50s, $circ, 0s); @include prefix(transform,translate(-110%,0%));
                    }
                }
                .button:Hover {
                    overflow:hidden;
                    
                    .static-state{
                        color:$navy; 
                    }
                    .roll-state {
                        
                        @include prefix(transform,translate(0%,0%)); opacity:1.00;
                    }
                }
            }
            
        }

        &.fade-in {
            opacity:1.00; @include prefix(filter,blur(0px)); 
            @include transition(all,2.5s,$circ,1s);
        }
        
        &.fade-out {
            opacity:0.00; @include prefix(filter,blur(3px)); 
            @include transition(all,3s,$circ,0s);
        }
        
        
    }
    .background {
        width:100%; height:100%; margin:0px auto; padding:0px; position:absolute; z-index:10; top:0px; left:0px; overflow:hidden;
        
        &.fade-in {
             opacity:1.00; @include prefix(filter,blur(0px)); @include transition(all,3s,$circ,0s);
        }
        
        &.fade-out {
             opacity:0.00; @include prefix(filter,blur(3px)); @include transition(all,4s,$circ,0s);
        }
        
        &.hide {
             opacity:0.00; @include prefix(filter,blur(3px));
        }
        
        .video-logo {
            display:inline-block; width:auto; position:absolute; z-index:100000; color:white; font-family:$michelin-black;
            
            /* -- breakkpoints --*/
            @include break(tablet){top:0px; right:30px; font-size:20px;}
            
            @include break(desktop, $desktop){top:0px; right:30px; font-size:20px;}
            @include break(desktop, $sm-width){top:-10px; right:30px; font-size:25px;}
            @include break(desktop, $lg-width){top:-5px; right:40px; font-size:30px;}
                        
            @include break(desktop, $desktop + 1, $sm-height){top:0px; right:30px; font-size:20px;}
        }
        
        .texture {
            display:block; width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:200; 
            background:url(../_media/images/texture.png) top left repeat transparent;
			box-shadow:inset 0px 0px 200px 20px rgba(0,8,15,1.00);
			@include transition(opacity,1s,$circ,0s);
			&.hide { @include prefix(opacity,0.00); }
			&.fade-in { @include prefix(opacity,1.00); }
        }

        video {
            overflow:hidden;
            
            /* -- breakkpoints --*/
            @include break(tablet){max-width:115%; min-height:100%;  @include prefix(transform, translate(-40px, 0px));}
            @include break(tablet, $portrait){min-width:100%; min-height:100%; @include prefix(transform, translate(-50%, 0%));}
            @include break(desktop){ height: 100% !important; width: auto; position: relative; min-height:100%; background: #263e5a; width: 100%;}
            
            &.shift-right {@include break(tablet, $portrait){@include prefix(transform, translate(-25%, 0%));}}
            &.shift-left {@include break(tablet, $portrait){@include prefix(transform, translate(-75%, 0%));}}
        }
        
        .footnote {
            display:block; width:50%; margin:10px 0px; padding:0px; position:absolute; bottom:0px; left:0px; z-index:300; 
            ol {
                li {
                    font-family:$body-text; color:$white; font-size:0.80em; text-align:left; 
                    @include prefix(opacity, 0.00);
                    @include transition(opacity,1s,$circ,0s);
                    
                    &.show {
                        @include prefix(opacity, 1.00);
                    }
                }
            }
        }
        
    }
    .skip { 
        position:fixed; bottom:80px; right:40px; z-index:300;
        
        &.show {
             opacity:1.00; @include prefix(filter,blur(0px)); @include transition(all,4s,$circ,1s);
        }
        
        &.fade-out {
             opacity:0.00; @include prefix(filter,blur(3px)); @include transition(all,4s,$circ,0s);
        }
        
        &.hide {
             opacity:0.00; @include prefix(filter,blur(3px));
        }
        
        &.button {
            display:inline-block; background-color:$royal; padding:6px 10px; overflow:hidden; cursor:pointer; @include prefix(transform, translate(0px, 50px) skew(-20.5deg));
                
            .static-state{
                margin:0px; padding:0px; position:relative; z-index:22; color:$white; font-family:$michelin-black; color:$white; font-size:0.50em;
                    
                @include prefix(transform,skew(20deg));
                @include transition(color, 1s, $ease-out,0.25s);

            }
            .roll-state {
                height:110%; width:110%; margin:0px; padding:0px; position:absolute; top:0px; z-index:20;  background-color:$yellow; opacity:0.00;
                @include transition(all, 0.50s, $circ, 0s); @include prefix(transform,translate(-110%,-10%));
            }
        }
        &.button:Hover {
            .static-state{
                color:$navy; 
            }
            .roll-state {
                @include prefix(transform,translate(-10%,-10%)); opacity:1.00;
            }
        }
    }
    .title-sequence{
        display:inline-block; width:100%; height:100px; position:absolute; top:20%; left:0px; margin: 5px 0px 0px 19px;
        
        h1 {
            /* text-align:center; */ color:$white; @include prefix(text-shadow,5px 5px 20px rgba(0,8,15, 0.50));
            span.brand {
                display:inline-block; width:100%; font-size:.5em; margin:0px;
                
                /* -- breakpoints --*/                    
                @include break(tablet){font-size:.3em;}
                @include break(tablet, $portrait){ font-size:.4em; }
                @include break(desktop){font-size:.5em;}

                sup { display:inline-block; @include prefix(transform, translate(0%, -100%));}
            }
            &.title {
                display:inline-block; width:100%; font-size:3em; margin:4% 0px 0px 6%; overflow:hidden;
                
                /* -- breakpoints --*/
                @include break(tablet){font-size:2.2em; margin-top: 2.5em;} 
                @include break(tablet, $portrait){font-size:1.8em;}
                @include break(desktop, $desktop){font-size:2.6em;}
                @include break(desktop, $lg-width){font-size:3.2em;}
                
            }
            span {
                display:inline-block; margin: 0px 0px 0px 10px;
                sup { display:inline-block; @include prefix(transform, translate(-100%, -100%));}
            }
            sup {font-family:$body-text; font-size:20%;}
        }
        
        .objectives {
            display:inline-block; height:80px; width:70%; margin:0px 25%; overflow:hidden;
            
            /*- breakpoints -*/
            @include break(desktop, $desktop){margin:0px 25%;}
            @include break(desktop, $lg-width){margin:15px 25%;} 
                    
            .objective {
                position:absolute; top:80px; left:0px; /* text-align:center; */ color:$yellow; font-family:$michelin-regular; font-size:1.80em;  padding:5px 0px; 
                @include transition(all,0.50s,$circ,0s); @include prefix(text-shadow,5px 5px 20px rgba(0,8,15, 0.50)); 
                
                /*- breakpoints -*/
                @include break(tablet){width:70%; margin:190px 4% 0 7%; }
                @include break(desktop, $desktop){width:70%; margin:220px 4% 0 7%;}
                @include break(desktop, $md-width){width:40%; margin:255px 4% 0 7%; }  
                
                @include break(desktop, $desktop + 1, $sm-height){width:70%; margin:175px 4% 0 7%; }
                
                &.hide {@include prefix(transform, translate(0%, 100%)); opacity:0.00;}
                &.fade-in {@include prefix(transform, translate(0%, 0%)); opacity:1.00; @include prefix(filter,blur(0px));}
                &.fade-out { opacity:0.00; @include prefix(filter,blur(3px));}
                
                sup {font-size:20%; position:relative; top:-4px; margin:0px 0px 0px 2px;}
            }
        }
        
        &.hide {
            opacity:0.00; @include prefix(filter,blur(3px)); z-index:1;
            h1 {
                &.brand {
                    span{@include prefix(transform, translate(0%, -100%)); opacity:0.00;}
                }
                &.title {            
                    span{@include prefix(transform, translate(0%, 100%)); opacity:0.00;}                    
                }
            }
        }
        
        &.fade-in {
            z-index:4000; opacity:1.00; @include prefix(filter,blur(0px)); @include transition(all,2s,$circ,0s);
            h1 {
                &.brand {
                    span{@include prefix(transform, translate(0%, 0%)); opacity:1.00; @include transition(all,1s,$circ,1s)}
                }
                &.title {                            
                    span {
                        @for $i from 1 through 12 {
                            &:nth-child(#{$i}) { 
                                @include transition(all, 1s, $circ, 0.05s * $i);
                                @include prefix(transform, translate(0%, 0%));
                                opacity:1.00;
                            }
                        }
                    }
                }
            }
        }  
        &.fade-out {
            z-index:1; opacity:0.00; @include prefix(filter,blur(3px)); @include transition(all,3s,$circ,0s);
            h1 {
                &.title {                            
                    span {
                        @for $i from 1 through 12 {
                            &:nth-child(#{$i}) { 
                                @include transition(all, 1s, $circ, 0.05s * $i);
                                @include prefix(transform, translate(0%, 100%));
                                opacity:0.00;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-- Menu CSS --*/
#page {
    display:block; width:100%; height:100%; margin:0px; padding:0px; position:absolute; top:0px; z-index:5000; overflow:hidden; @include transition(opacity,5s,$circ, 0s);
    &.hide {left:-100%; opacity:0.00;}
    &.show { 
        left:0px; opacity:1.00;
        #menu {
            display:inline-block; width:50%; position:absolute; top:47%; z-index:20; overflow:hidden; @include prefix(transform,skewX(-20.5deg));
        
            /*-- breakpoints --*/
            @include break(tablet){width:65%; right:-15%; height:600px; margin:-200px 0px 0px 0px;}
            @include break(tablet, $portrait){width:100%; left:-175px; height:600px; margin:-35px 0px 0px 0px;}

            @include break(desktop, $desktop){width:55%; right:-15%; height:600px; margin:-185px 0px 0px 0px;}
            @include break(desktop, $md-width){width:60%; right:-15%; height:600px; margin:-275px 0px 0px 0px;} 
            @include break(desktop, $xl-width){width:65%; right:-21%; height:600px; margin:-275px 0px 0px 0px;} 
            
            @include break(desktop, $desktop + 1, $md-height){ width: 47%; right: -4%;  height: 600px;  margin: -208px 0px 0px 0px;
		}

            &.shadow {@include prefix(box-shadow,-10px 20px 100px rgba(0,20,39,0.90));  @include transition(box-shadow, 2s, $ease-out, 3);}
            .menu-item {
                margin:0px; width:100%; position:relative; background-color:rgba($blue, 0.80); border-bottom:solid 1px $navy; overflow:hidden; box-sizing: border-box;

                /*- breakpoints -*/
                @include break(tablet){height:80px;}
                @include break(tablet, $portrait){height:80px; width:100%; padding-left:50%;}

                @include break(desktop){height:80px;}       
                @include break(desktop, $md-width){height:100px;}
                
                @include break(desktop, $desktop + 1, $md-height){height:80px;}

                &.slide-out {

                    /*- breakpoints -*/
                    @include break(tablet){right:-768px;}
                    @include break(tablet, $portrait){right:768px;}
                    @include break(desktop, $desktop){right:-768px;}    

                    opacity:0; 
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) { 
                            @include transition((opacity,right), 1s, $circ, 0.25s * $i);
                        }
                    }
                }
                &.slide-in {
                    opacity:1.00; right:0px; 
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) { 
                            @include transition((opacity,right), 1s, $ease-out, 0.25s * $i);
                        }
                    }
                }
                
                &.disabled {
                    p { 
                        
                        /*- breakpoints -*/
                        @include break(tablet){border-left:solid 12px $navy; border-right:none;}
                        @include break(tablet, $portrait){border-right:solid 12px $navy; border-left:none; float:right;}

                        @include break(desktop){border-left:solid 12px $navy;  border-right:none;}
                        
                        &.menu-state{color:$navy;}
                    }
                    .title{color:$navy;}
                }
                p {
                    display:inline-block; width:100%; position:relative; border-left:solid 12px $yellow;

                    /*- breakpoints -*/
                    @include break(tablet){border-left:solid 12px $yellow; border-right:none;}
                    @include break(tablet, $portrait){border-right:solid 12px $yellow; border-left:none; float:right;}

                    @include break(desktop, $desktop){border-left:solid 12px $yellow; border-right:none;}

                    &.menu-state{
                        margin:0px; z-index:22; vertical-align:middle; color:$white; @include transition(color, 1s, $ease-out,0.25s);

                        /*- breakpoints -*/
                        @include break(tablet){padding:18px 0px 12px 40px; height:50px;}
                        @include break(desktop, $desktop){padding:18px 0px 12px 40px; height:50px;}
                        @include break(desktop,$md-width){padding:24px 0px 26px 60px;} 
                        
                        @include break(desktop, $desktop + 1, $md-height){padding:18px 0px 12px 40px; height:50px;}

                    }
                    &.menu-roll-state {
                        height:110%; margin:0px; padding:0px; position:relative; z-index:21;  background-color:$yellow; 
                        @include transition(transform, 0.50s, $circ, 0s); @include prefix(transform,translate(-100%,-100%));

                        /*- breakpoints -*/
                        @include break(tablet){@include prefix(transform,translate(-101%,-100%));}
                        @include break(tablet, $portrait){width:200%; @include prefix(transform,translate(100%,-100%));}
                        @include break(desktop, $desktop){@include prefix(transform,translate(-100%,-100%));}   
                        
                        @include break(desktop, $desktop + 1, $md-height){@include prefix(transform,translate(-101%,-100%));}

                    }
                    
                    &.menu-status {
	                    display:inline-block; margin:0px; padding:0px; position:absolute; top:8px; left:0px; z-index:55555; height:25px; width:30px; border:none;
                        
                        /*- breakpoints -*/
                        @include break(tablet, $landscape){@include prefix(transform, skew(20.5deg) translate(40%, 73%));}
                        @include break(tablet, $portrait){@include prefix(transform, skew(20.5deg) translate(325px, 65%));}
                        @include break(desktop, $desktop){@include prefix(transform, skew(20.5deg) translate(60%, 80%));} 
                        @include break(desktop, $md-width){@include prefix(transform, skew(20.5deg) translate(90%, 100%));} 
                        
                        &.incomplete {opacity:0.00;}
                        &.complete {opacity:1.00;}
                        svg > .icon {fill:$yellow;}
                    }
                }

                .title {
                    display:inline-block; position:relative; z-index:30; @include prefix(transform,skewX(20.5deg)); color:$white;

                    &.heading {
                        font-family:$michelin-black; font-size:1.5em; color:inherit; 
                        /*-- add margin to top to accommodate single line menu --*/ 
                        margin-top:10px;

                        /*- breakpoints -*/
                        @include break(tablet){font-size:1.20em;}
                        @include break(desktop, $desktop){font-size:1.20em;}
                        @include break(desktop,$md-width){font-size:1.5em;} 
                        
                        @include break(desktop, $desktop + 1, $md-height){font-size:1.20em;}
                    }
                    &.sub-heading {
                        font-family:$michelin-regular;  color:inherit;

                        /*- breakpoints -*/
                        @include break(tablet){font-size:0.90em; }                
                        @include break(desktop, $desktop){font-size:0.90em;}
                        @include break(desktop, $md-width){font-size:1.0em;} 
                        
                         @include break(desktop, $desktop + 1, $md-height){font-size:0.90em;}

                        sup {font-family:sans-serif; display:inline-block; font-size:7px;}
                    }
                }
            }
            
            .menu-item.enabled:Hover {  
                cursor:pointer;
                p.menu-roll-state {@include prefix(transform,translate(0%,-100%));}
                p.menu-state{color:$navy;}
                p.menu-status > svg > .icon {fill:$navy;}
                p.menu-status > img {
                    @include prefix(filter,brightness(10%));
                }
            } 
            .menu-item:last-child {border-bottom:none;}
        }

        /*-- title sequence --*/
        .title-page {
            display:inline-block; position:absolute; top:50%; left:0px; z-index:10; color:$white;

            h1 {
                display:inline-block; width:100%; margin:0px; padding:0px; vertical-align:middle;

                /*- breakpoints -*/
                @include break(tablet){@include prefix(transform,translate(5%,-85%));}
                @include break(tablet, $portrait){@include prefix(transform,translate(5%,-200%));}
                
                @include break(desktop, $desktop){@include prefix(transform,translate(4%,-65%));}
                @include break(desktop, $md-width){@include prefix(transform,translate(6%,-65%));}
                @include break(desktop, $lg-width){@include prefix(transform,translate(5%,-70%)); text-shadow:5px 5px 15px rgba(0,8,15, 0.50);}
                @include break(desktop, $xl-width){@include prefix(transform,translate(5%,-72%)); text-shadow:5px 5px 15px rgba(0,8,15, 0.50);}

                span.brand {
                    display:inline-block; width:100%; font-size:65%; line-height:100%; @include prefix(transform,translateY(-200%)); opacity:0.00;

                    /*- breakpoints -*/
                    @include break(tablet){margin:0px 0px 10px 47px;}
                    @include break(desktop, $desktop){margin:0px 0px 10px 4%;}
                    @include break(desktop, $md-width){margin:0px 0px 10px 3%;}
                    @include break(desktop, $lg-width){margin:0px 0px 10px 3%;}
                    @include break(desktop, $xl-width){margin:0px 0px 10px 3%;}
                    
                    @include break(desktop, $desktop + 1, $md-height){margin:0px 0px 10px 4%;}

                    sup {font-family:sans-serif; display:inline-block; position:relative; top:-22%; padding:0px 5px; font-size:40%; font-weight:bold;}
                }
                span.headline {
                    display:inline-block; width:100%; margin:0px; line-height:90%; 

                    /*- breakpoints -*/
                    @include break(tablet){font-size:1em; line-height: 1.2em;}
                    @include break(tablet, $portrait){font-size:1.2em;}
                    @include break(desktop, $desktop){font-size:1.35em;}
                    @include break(desktop, $sm-width){font-size:1.5em;}
                    @include break(desktop, $lg-width){font-size:1.7em;}
                    @include break(desktop, $xl-width){font-size:1.9em;}

                    span > b > sup {
                        font-family:sans-serif; font-size:15%; display:inline-block; position:relative; top:0px; left:10px; 
                        
                        /*- breakpoints --*/
                        @include break(tablet){top:-12px; left:8px;}
                        @include break(desktop, $desktop){@include prefix(transform, translate(0%, -15px));}
                                               
                    }

                    &.sequence {
                        span {
                            display:inline-block; width:auto; padding:0px 30px; overflow:hidden; clear: both;

                            /*- breakpoints --*/
                            /* BF header angle */
                            /*
                            @include break(tablet){margin:0px 0px 0px -76px;}
                            @include break(desktop){margin:0px 0px 0px -76px;}
                            @include break(desktop, $md-width){margin:0px 0px 0px -80px;}
                            */
                            
                            &:first-child{margin-left:0px; padding-right:15px;}
                            &:nth-child(7){margin-left:-40px;}

                        } 
                        &.off{
                            span {
                                b {display:inline-block; opacity:0.00;}
                                //These were removed on 7/13/2016 by David Meslin in response to John Budinich's performance complaints
                                //b.top-bottom {@include prefix(transform,translateY(-200%));}
                                //b.bottom-top {@include prefix(transform,translateY(200%));}
                            }
                        }
                        &.on {
                            b {display:inline-block; opacity:1.00; transform:translateX(0%);}                    
                        }
                    }
                }
                span.tagline {
                    display:inline-block; width:100%; margin:0px 0px 0px 10px; font-family:$michelin-regular; color:$yellow; line-height:120%;
                    @include prefix(transform,translateY(200%)); opacity:0.00;
                    
                    /*- breakpoints -*/
                    @include break(tablet){ font-size:70%; margin-left:10px;}
                    @include break(desktop, $desktop){ font-size:80%;}
                    @include break(desktop, $sm-width){ font-size:90%;}
                    @include break(desktop, $md-width){ font-size:90%;}
                    @include break(desktop, $lg-width){ font-size:110%;}
                    @include break(desktop, $xl-width){ font-size:110%;}
                }
            }
        }


        /*-- right side obliques --*/
        #obliques {
            display:block; margin:0px; padding:0px; width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:5; overflow:hidden;
                .right-oblique {
                    @include prefix(transform,skewX(-20.5deg)); position:absolute; top:0px; right:-33%;

                    /*- breakpoints -*/
                    @include break(tablet){right:-33%;}
                    @include break(tablet, $portrait){right:-90%;}
                    @include break(desktop, $desktop){right:-33%;}


                    .oblique { 
                        height:1600px; position:absolute; top:0px; right:0px;        
                        &.dark {
                            z-index:11; background-color:rgba(4,13,78,0.30);

                            /*- breakpoints -*/
                            @include break(tablet){width:560px;}
                            @include break(desktop, $desktop){width:650px;}
                            @include break(desktop, $sm-width){width:760px;}
                            @include break(desktop, $md-width){width:855px;}
                            @include break(desktop, $lg-width){width:925px;}
                            @include break(desktop, $xl-width){width:1195px;}

                            &.slide-out{right:-850px; opacity:0.00; @include transition((right,width,opacity), 2s, $ease-in, 0s);}
                            &.slide-in {right:0px; opacity:1.00; @include transition((right,width,opacity), 2s, $ease-out, 0s);}        
                        }

                    }

                    .oblique { 
                        height:1600px; position:absolute; top:0px; right:0px;
                        &.light {
                            z-index:12; background-color:rgba(0,90,170,0.20);

                            /*- breakpoints -*/
                            @include break(tablet){width:500px;}
                            @include break(desktop, $desktop){width:610px}
                            @include break(desktop, $sm-width){width:680px;}
                            @include break(desktop, $md-width){width:785px;}
                            @include break(desktop, $lg-width){width:845px;}
                            @include break(desktop, $xl-width){width:1095px;}

                            &.slide-out{right:-725px; opacity:0.00;  @include transition((right,width,opacity), 2s, $ease-in, 0s);}
                            &.slide-in {right:0px; opacity:1.00; @include transition((right,width,opacity), 2s, $ease-out, 1s);}
                        }
                    }
                }

                .left-oblique {
                    @include prefix(transform,skewX(-20.5deg)); position:absolute; top:0px; left:0px;
                    .oblique {
                        height:1600px; position:absolute; top:0px; right:0px;
                        &.light {width:1000px; z-index:13; background-color:rgba(0,90,170,0.25);
                            &.slide-out{
                                left:-1500px; opacity:0.00;  @include transition((left,width,opacity), 2s, $ease-in, 0s);
                            }
                            &.slide-in {
                                opacity:1.00; @include transition((left, width, opacity), 3s, $ease-out, 2s);

                                /*- breakpoints -*/
                                @include break(tablet){left:-900px;}
                                @include break(desktop, $desktop){left:-875px;}
                                @include break(desktop, $md-width){left:-850px;}
                                @include break(desktop, $xl-width){left:-800px;}
                            }
                        }
                    }
                }
            }

            /*-- video backgroound --*/
            .background {

                display:block; width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:1; overflow:hidden; margin:0px; padding:0px; 

                &.fadeIn {opacity:1.00; @include transition(opacity, 3s, $ease-in, 0s);}
                &.fadeOut {opacity:0.00; @include transition(opacity, 3s, $ease-out, 1s);}

                .texture {
                    display:block; width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:2; 
                    background:url(../_media/images/texture.png) top left repeat transparent; box-shadow:inset 0px 0px 200px 20px rgba(0,8,15,1.00);
					
                }
                video {
                    margin:0px auto; z-index:1; min-width:100%; min-height:100%;
                    /*- breakpoints -*/
                    @include break(tablet){display:none; visibility: hidden;}
                    @include break(desktop){}

                }

                .poster {
                    width:100%; height:100%; margin:0px auto; background:url("../_media/images/poster.jpg") top left no-repeat transparent; background-size:cover;
                    /*- breakpoints -*/
                    @include break(tablet){display:block; visibility: visible;}
                    @include break(desktop){display:none; visibility: hidden;}
                }
            }
        }
}