body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
}

html
{
   background:url(../../../images/bg/bg-min.png) no-repeat center top;
    background-size: 2038px 1528px;
    background-color: #BAB2A6;
    background-position: contain;
}

@font-face {
    font-family: 'MetaBoldLFItalic';
    src: url('../../../_2_skin/fonts/metaboldlfitalic/metaboldlfitalic.eot');
    src: url('../../../_2_skin/fonts/metaboldlfitalic/metaboldlfitalic.eot?#iefix') format('embedded-opentype');  
    font-weight: normal;
    font-style: normal;
}

.pageWrapper {
    position:fixed;
    width:100%;
    height:auto;
    top:0;
    left:-0px;     
    overflow: visible;
}

.roomElement {
    position: relative;
    overflow:visible;
    margin: 0px auto;
    left: 0px;
}

.screen {

    background-color: #FFF;
    width: 728px;
    height: 324px;
    top: 0px;
    margin-top:93px;
    left:0px;
    z-index: 3;
}

.floor {
    width: 0px;
    height: 0px;
    top: 0px;
    margin: 0px auto;
    z-index: 5;   
}

.tireStack {
    position: absolute;
    width: 40%;
    max-width:800px;
    z-index:-2;   
}

.characters {
    position: relative;
    overflow:visible;
    margin: 0px auto;
    left: 0px;
}

#tireStackLeft {
    top:670px;
    left:10px;
}

#tireStackRight {
    top: 650px;
    left: 730px;
}

.header1{
    position:relative;
    font-size:5.5em;
    letter-spacing: -2.2px;
    color:#323136;
    margin-top:.25em;
    font-family: MetaBoldLFItalic, Helvetica, sans-serif;
}

.MetaBoldLFItalic {
    font-family: MetaBoldLFItalic, Helvetica, sans-serif;
}

.tireStack {
    position: absolute;
    width: 700px;
    height:338px;
    max-width:800px;
    z-index:-2;   
}

#tireStackLeft2 {
    position: absolute;
    top:650px;
    left:-740px;
}
#tireStackLeft {
    position: absolute;
    top:716px;
    left:-740px;
}

#tireStackRight {
    top: 610px;
    left: 430px;
}

.character{
    position: absolute;
    z-index:10;
}

.chart {
	position: absolute;
    width: 540px;
    height: 211px;
    top: 71px;
    left:25px;
    z-index: 11;
}

.tiger {
    width: 254px;
    height: 306px;
    top:316px;
    left: -574px;
}
/*
#pat {
    height: 245px;
    width: 125px;
    left: -219px;
    top: 385px;
}

#jose {
    height: 245px;
    width: 180px;
    left: -63px;
    top: 374px;
}

#dave {
    height: 290px;
    width: 117px;
    left: 197px;
    top: 339px;
}
*/

.pageTitle {
	position:absolute;
	top:-6%;
	height:25%;
}
#dimmer{
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,1);
    height:4000px;
    width:100%;
    z-index:2;
    opacity:.01;
}
.bulletItem {
    position:absolute;
    height:14%;
    left:20px;
}
.leftJustified {
    left:28px;
}
.startHidden {
    opacity:0.0;
}
.labelItem {
    position:absolute;
    top:-10%;
    width:35%;
    z-index:11;
}
/*
#tagPat{
	position: absolute;
    height: 33px;
    width: 89px;
    left: -98px;
    top: 455px;
}
#tagJose{
	position: absolute;
    height: 33px;
    width: 89px;
    left: 120px;
    top: 449px;
}
#tagDave{
	position: absolute;
    height: 33px;
    width: 89px;
    left: 315px;
    top: 435px;
}
*/