@import "partials/color";
@import "partials/type";
@import "partials/transitions";
@import "partials/prefixes";
@import "partials/pages";

body {margin:0px auto; background-color:$light-grey;}

#preload-audio{display:none;}

#warranty {
	position: absolute;	top: 0px; left: 0px; height: 100%; width: 100%;	overflow: hidden;
		
	.page{ 
		display:inline-block; width:100%; margin:0px; padding:100px 0px 0px 0px; text-align:center;
        .header {
            color:$royal;
            @include prefix(opacity, 0.00);
            @include prefix(transform, translate(0%, 100%));
            
            sup{font-size:30%; font-family:$michelin-regular; display:inline-block; position:relative; top:-4px; left:-3px;}
            
            &.show {
                @include transition((opacity, transform) ,2s,$ease-out,0s);
                @include prefix(opacity, 1.00);
                @include prefix(transform, translate(0%, 0%));
            }
        }
        
        .button {
            display:inline-block; height:auto; width:auto; margin:20px 0px; padding:0px; position:relative; z-index:5; cursor:pointer; overflow:hidden;
            text-decoration:none; text-align:center; color:$white; background-color:$royal; outline:0;
            
            @include prefix(transform, skewX(-20.5deg) translate(-50%, 0%));
            @include prefix(opacity, 0.00);  
            
            &.show {
                @include transition((opacity, transform),1s,$circ,0s);
                @include prefix(transform, skewX(-20.5deg) translate(0%, 0%));
                @include prefix(opacity, 1.00); 
            }
            
            .text {
                display:inline-block; position:relative; top:0px; margin:10px; z-index:3; 
                font-size:0.95em; font-family:$michelin-black; @include prefix(transform, skew(20.5deg));
                
                /*-- breakpoints -- */
                @include break(tablet, $portrait){font-size:0.70em;}
                @include break(desktop, $desktop){font-size:0.85em;}
                @include break(desktop, $xl-width){font-size:0.95em;}
            }    
            .roll-state {
                display:inline-block; width:100%; height:100%; margin:0px; position:absolute; top:0px; left:-100%; z-index:2; opacity:0.00; background-color:$yellow; 
                @include transition(all, 0.50s, $circ, 0s);
            }
        }
	
        .button:hover {  
               cursor:pointer;
               .roll-state{left:0px; opacity:1.00; }
               .text{color:$navy;}
        }
	}
	
	.footnote {
         display:block; width:100%; position:relative; top:0px; z-index:111111; text-align:center;
		.disclaimer{
            display:block; width:60%; margin:10px 20%; @include prefix(opacity, 0.00); text-align:center; font-size:0.90rem; line-height:125%;
            &.show {
                @include transition(opacity, 1s, $circ, 0s);
                @include prefix(opacity, 1.00);
            }
        }
	}
	
	.tire {
		display:inline-block; position:absolute; top:100%; left:50%; width:1280px; height:1280px; margin:0px 0px 0px -640px; padding:0px;
		background: transparent url("../_media/images/warranty_tire.png") center bottom no-repeat; background-size:100% auto;
        
        @include prefix(opacity, 0.00);
        @include prefix(filter, blur(5px));
		@include prefix(animation, rotate 35s linear infinite);
        
        /*-- breakpoints -- */
        @include break(tablet){width:1024px; height:1024px; margin:0px 0px 0px -512px;}
        @include break(tablet, $portrait){width:1024px; height:1024px; margin:0px 0px 0px -512px;}
            
        @include break(desktop, $desktop){width:1024px; height:1024px; margin:0px 0px 0px -512px;}
        @include break(desktop, $md-width){ width:1280px; height:1280px; margin:0px 0px 0px -640px;}
        @include break(desktop, $xl-width){ width:1400px; height:1400px; margin:0px 0px 0px -700px;}    
        
        &.show {
            @include transition(all,1.5s,$ease-out,0s);
            @include prefix(opacity, 1.00);
            @include prefix(filter, blur(0px));
            top:45%;
            
            /*- breakpoints -*/
            @include break(tablet){top:55%;}
            @include break(tablet, $portrait){top:50%;}
            @include break(desktop, $desktop){top:50%;}
            @include break(desktop, $desktop + 1, $md-height){top:65%;}
            @include break(desktop, $desktop + 1, $sm-height){top:70%;}
        }
	}
	
		
	@keyframes rotate {
		from{ transform: rotate(359.5deg); }
		to{ transform: rotate(0deg); }
	}
	
	sup{font-size:40%;}

}