<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="CHOP Manadatory Education">
    <meta name="author" content="Children's Hospital of Philadelphia (CHOP)">
    <title>CHOP Mandatory Education</title> 
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/idx.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>
<body>
    <div id="header">
        <h1 class="col-100 l-col c-txt white-txt">CHOP Mandatory Education</h1>
    </div>
    <div id="content" ng-app="sortApp" ng-controller="mainController">
        <div class="col-100 l-col section-pad">
            <div class="search">
                <p class="start-icon" ng-click="showSearch(true)" ng-show="!search">
                    <span class="fa fa-search icon"></span>
                    <span class="icon" style="font-style:italic; font-size:0.90em;">Click here to search</span>
                </p>
                <p class="bar" ng-show="search">
                    <input type="text" placeholder=" " ng-model="searchCourses" show-focus="search"  ng-attr-autofocus="search">
                    <span class="fa fa-close icon" ng-click="showSearch(false)"></span>
                </p>
            </div>
            <div class="filter">
                <div class="bar">
                    <p class="option" ng-class="(semester == undefined) ? 'on':'off'" ng-click="showSemester(undefined)">ALL</p>
                    <p class="option" ng-class="(semester == 'spring') ? 'on':'off'" ng-click="showSemester('spring')">SPRING</p>
                    <p class="option" ng-class="(semester == 'fall') ? 'on':'off'" ng-click="showSemester('fall')">FALL</p>
                </div>
            </div>
        </div>
        <div>
            <div class="article" ng-repeat="course in courses | orderBy:'title'| filter:searchCourses" >
                <h2 class="title">{{course.title}}</h2>
                <p class="image" ng-style="{'background-image':'url({{course.img}})'}"></p>
                <p class="description ellipsis">{{course.description}}</p>
                <a class="launch" href="{{course.url}}" target="_blank" alt="{{course.title}}">START</a>
            </div>
        </div>
    </div>                   
    <!-- Footer -->
    <div id="footer">
        <p class="section-pad c-txt">
            <img style="display:block; width:100%; max-width:400px; margin:auto;" src="img/chop-logo-bl.png" alt="Chop logo">
        </p>
    </div>
</body>
</html>