@import "color";
@import "transitions";
@import "prefixes";

.progress {
        display:block; width:100%; margin:0px auto; padding:0px; text-align:center;
        p {
            display:inline-block; width:30px; height:9px; margin:0px 5px; @include prefix(transform,skewX(-20deg)); background-color:$white;  overflow:hidden;
            span {
                display:inline-block; float:left; width:100%; height:100%; padding:0px; margin:0px;
            }
            &.active{
                span {  
                    @include prefix(transform,translateX(0px)); background-color:$yellow; @include transition(all,1s,$circ,0s); 
                }
            }
            &.inactive {
                span {
                    @include prefix(transform,translateX(-50px)); background-color:$white; @include transition(all,1s,$circ,0s);
                }
            }
        }
}