@font-face {font-family: Michelin-Black; src: url('fonts/MichelinW00Black.ttf'); src: url('fonts/MichelinW00Black.eot'); src: url('fonts/MichelinW00Black.woff');}
@font-face {font-family: Michelin-Regular; src: url('fonts/MichelinW00Regular.ttf'); src: url('fonts/MichelinW00Regular.eot'); src: url('fonts/MichelinW00Regular.woff');}
@font-face {font-family: Frutiger; src: url('fonts/FrutigerLT-Roman.ttf'); src: url('fonts/FrutigerLT-Roman.eot'); src: url('fonts/FrutigerLT-Roman.woff');}

$michelin-black:Michelin-Black, sans-serif;
$michelin-regular:Michelin-Regular, sans-serif;
$body-text:Frutiger, sans-serif;

body {font-family:$body-text; font-size:1em;}
h1 {font-family:$michelin-black;}