@import "http://fonts.googleapis.com/css?family=Oswald:400,700,300";


@import "http://fonts.googleapis.com/css?family=Domine:400,700";

.clear {
    clear:both
}

.end {
    margin-bottom:30px;
}

.large {
    font-size:28px;
}

.widen-text {
    width:70%!important
}

/*.content-wrapper {
    display:block;
    width:100%;
    float:left;
    padding-top:20px;
    background-color:#fff
}*/

.floating-image-right {
    display:block;
    float:right;
    width:40%;
    padding:0;
    margin:0;
}

.floating-image-left {
    display:block;
    float:left;
    width:43%;
    padding:0
}

.floating-image-right img,
.floating-image-left img {
    display:block;
    width:100%;
    max-width:400px
}

.floating-text-left {
    display:block;
    float:left;
    width:50%;
    padding:0 5% 0 0
}

.floating-text-right {
    display:block;
    float:left;
    width:50%;
    padding:0 5% 0 0
}

.bg-section-data {
    display:block;
    float:left;
    width:100%;
    padding:0 0 15%;
    margin:0;
    overflow:hidden;
    background:url(../img/dpa03/bg-section-1.png) center bottom no-repeat transparent;
    background-size:95% auto
}

.callout-container {
    background-color:#303f4d;
    margin:0 0 15px;
    padding:5px;
    text-indent:0;
    color:#fff
}

.callout-container .callout {
    color:#fff;
    margin:5px 0 0 20px;
    padding:5px
}

.law-block {
    border-left:#125689 4px solid;
    padding:10px 0 10px 20px;
    margin:0 0 15px 10px
}

/* -------------- Did you know ----------------- */

.dyk-sidebar {
    background-color:#e4edef;
    padding:8px 15px;
    border-radius:4px;
    border:solid 1px rgba(150,150,150,0.25);
    width:100%;
    display:inline-block;
    box-sizing:border-box;
}

/* .dyk-header {float: left; width:100px; padding: 5px 5px 5px 0; margin: 0; text-align: center; color: #b33b16} */
.dyk-header {
    color:#b32a12;
    display:block;
    float:left;
    font-family:"Domine",serif;
    font-size:1.2em;
    font-weight:700;
/* height: 100px; */
    line-height:30px;
    margin:0;
    position:relative;
    width:100px;
    padding:5px 20px 5px 0
}

.dyk-header h5 {
    color:#b33b16
}

.dyk-text {
    float:left;
    width:75%;
    margin:0;
    padding:0 0 0 20px;
    border-left:#ccc solid 1px
}

.dyk-text p {
    margin:0;
    padding:10px 0
}

.enlarge {
    font-size:5em;
    line-height:1em;
    /*color:#303f4d*/
}

/*-- Welcome Section --*/
.welcome {
    background:url(../img/dpa03/welcome_bg.jpg) 0 0 no-repeat #fff;
    background-size:cover;
}

.welcome-intro {
    display:inline-block;
    /*float:left;*/
    width:50%;
    margin:0px;
    padding:0 0 0 5%;
    height:100%;
    vertical-align:top;
    box-sizing:border-box;
}

.welcome-character {
    display:inline-block;
    float:right;
    width:50%;
    margin:0px;
    padding:0px;
    text-align:right;
    vertical-align:bottom;
    box-sizing:border-box;
}

.welcome-character img {
    display:block;
    width:98%;
    margin:0px;
    padding:0px;
    text-align:right;
    float:right;
}

.welcome-box {
    background:url(../img/section-texture.jpg) top left repeat #f8f8f4;
    padding:20px 0 0
}

/*-- The importance of data protection section --*/
.importance-data-protection {
    display:block;
    width:100%;
    float:left;
    background:url(../img/section-texture.jpg) top left repeat #f8f8f4;
    padding:20px 0 35px
}

.patient-information {
    display:block;
    float:left;
    width:90%;
    padding:50px 5% 75px;
    margin-bottom:0;
    background-color:#fefefe
}

/*-- Clean Environment Section --*/
.information-security-block {
    display:block;
    float:left;
    background:#caced1;
/* background:url("../img/wipes.png") center bottom no-repeat #303f4d;  background-size:65% auto;*/
    width:90%;
    padding:0 5% 5%
}

.information-security-text {
    display:inline-block;
    width:100%;
    margin:0 0 40px;
    float:left
}

.information-security-callout {
    display:block;
    width:90%;
    padding:0 5%;
    margin:0 auto 5%;
    max-width:720px;
    text-align:center;
    font-size:1.6em
}

.information-security-image {
    display:block;
    float:right;
    width:35%;
    padding:0 0 0 5%
}

.information-security-callout p {
    margin:8px 0
}

.information-security {
    display:block;
    width:100%;
    float:left;
    background:url(../img/section-texture.jpg) top left repeat #f8f8f4;
    padding:20px 0 35px
}

.information-security-steps {
    display:inline-block;
    float:left;
    padding:20px 0 20px 5%
}

.information-security-sidebar {
    display:inline-block;
    float:right;
    min-width:225px;
    max-width:350px;
    width:20%;
    margin:30px 10% 0 0;
    border-radius:4px;
/*border:solid 1px #303f4d;*/
    background-color:#fff;
    border:solid 1px rgba(150,150,150,0.25)
}

.circled-number {
    display:block;
    float:left;
    position:relative;
    text-align:center;
    font-size:2.5em;
    font-family:"Domine",serif;
    font-weight:700;
    color:#b32a12;
    margin:0;
    line-height:60px;
    width:60px;
    height:60px;
    border-radius:60px;
    border:solid 5px #b32a12;
    background-color:#fff
}

.circle-list {
    display:inline-block;
    float:left;
    width:80%;
    padding:0 0 0 40px;
    margin:0 0 20px
}

/* .floating-text-left .circle-list { width:70%; } */
.information-security-sidebar {
    min-width:80%;
    max-width:80%;
    width:80%;
    margin:30px 10%
}

.security-incidents-sidebar {
    display:inline-block;
    float:right;
    min-width:225px;
    max-width:550px;
    margin:30px 10% 0 0;
    border-radius:4px;
/*border:solid 1px #303f4d;*/
    background-color:#fff;
    border:solid 1px rgba(150,150,150,0.25)
}

.shadow {
    box-shadow:0 2px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset
}

.consequences-data-breach {
    display:block;
    float:left;
    background:#303f4d url(../img/dpa03/scale.png) 50% 94% no-repeat;
    background-size:20% auto;
    width:90%;
    padding:2% 5% 20%
}

/*-- Practical Handling Subhead --*/
.practical-handling-storage {
    background:#e9eff4;
    float:left;
    padding:0 20px 50px 20px;
	width:100%;
	box-sizing:border-box;
}

.practical-handling-sharing {
    background:#c3d69b;
    float:left;
    padding:0 20px 50px 20px;
	width:100%;
	box-sizing:border-box;
}

.practical-handling-transport {
    background:#b2b8bc;
    float:left;
    padding:0 20px 50px 20px;
	width:100%;
	box-sizing:border-box;
}

.practical-handling-disposal {
    background:#c7cfb6;
    float:left;
    padding:0 20px 50px 20px;
	width:100%;
	box-sizing:border-box;
}

/*-- Footer Section --*/
.footer {
    display:block;
    float:left;
    width:90%;
    padding:80px 5% 30px;
    margin:0;
    background-color:#0463b3;
    border-top:solid 8px #004f84
}

.footer .footer-contact {
    color:#fff;
    margin:30px 0
}

.footer .footer-logo {
    display:block;
    width:100%;
    float:left;
    padding:25px 0
}

.footer-visit {
    width:50%;
    display:inline-block;
    margin:0 25%
}

.footer-visit img {
    display:block;
    width:170px;
    margin:-165px auto
}

.footer-contact a {
    color:#fff;
    font-weight:700;
    text-decoration:underline
}

.raise-concerns {
    background:url(../img/dpa03/laws-regulations-bg.jpg) 50% 50% no-repeat transparent;
    background-size:cover
}

.chop-in-out {
    background-color:rgba(254,254,254,0.75);
    margin-bottom:30px;
    border-radius:2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.3)
}

/*-- Media Breakpoints --*/
/*-- +++++++++++++++++++++++++++++ --*/
/*-- handhelds --*/
/*-- +++++++++++++++++++++++++++++ --*/
@media only screen and (orientation: landscape) {

}

@media only screen and (orientation: portrait) {

}

@media only screen and (max-width:640px) and (orientation: landscape) {
.reduce { width:60% }
}

@media only screen and (min-width:200px) and (max-width:767px) {
body {font-size:0.90em;}
.shadow {box-shadow:none;}
.no-show { display:none !important; visibility:hidden !important;}
.welcome-show{ display:none !important; visibility:hidden !important;}
.desk-only {display:none; visibility:hidden;}
.mobile-only {display:block; visibility:visible;}

/*.content-wrapper {display:block; width:100%; float:left; background-image:none;}*/

.welcome {
    background-position:50% 150px;
    margin-bottom:0
}

.welcome-intro {
    width:90%;
    margin-bottom:30px
}

.row .floating-text-left,.row .floating-text-right,.row .floating-image-left,.row .floating-image-right {
    width:100%
/* text-align: center; */
}

.row .floating-image-left img,.row .floating-image-right img {
    margin:5px auto 20px
}

/* A really hacked way of doing this. Needs to be fixed */
.information-security-text .col-30,.consequences-data-breach .col-30 {
    width:100%
}

.information-security-text .g-5,.consequences-data-breach .g-5 {
    margin:0
}


.circled-number {
    margin:10px 0 0 -20px;
    left:50%;
    font-size:2em;
    line-height:40px;
    width:40px;
    height:40px;
    border-radius:40px
}

.circle-list {
    width:100%;
    padding:0
}

.dyk-header {
    font-size:1.1em;
    width:90%
}

.dyk-text {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    border:none
}

.dyk-text p {
    margin:0;
    padding:10px 0
}

.information-security-callout p {
    font-size:.7em
}

.information-security-callout h5 {
    font-size:.8em
}

.floating-text-left .circle-list {
    width:100%!important
}

.floating-text-left {
    width:100%!important
}

.bg-section-data {
    padding:0 0 17%;
    background:url(../img/dpa03/bg-section-1-mo.png) center bottom no-repeat transparent;
    background-size:95% auto
}

.reduce {
    width:60%!important;
    margin:0 auto;
    float:left
}

.consequences-data-breach {
    padding:2% 5% 23%;
    background-position:50% 98%
}
}

@media only screen and (max-width:320px) {

}

@media only screen and (max-height:360px) {
.welcome-intro {
    width:80%
}
}

@media only screen and (min-width : 768px) and (max-width:1023px) {
.mobile-only {display:none; visibility:hidden;}
/*.content-wrapper {display:block; width:100%; float:left; background-image:none;}*/

/*-- Welcome Section --*/


.no-show {
    display:none !important;
    visibility:hidden !important;
}
.practical-handling-transport .floating-text-left {
	width: 100% !important;
}

.circle-list {
    width:80% !important;
    padding:0 0 0 5% !important;
}

}

/*-- +++++++++++++++++++++++++++++ --*/
/*-- desktops --*/
/*-- +++++++++++++++++++++++++++++ --*/
@media only screen and (min-width : 1024px) {
.mobile-only {
    display:none;
    visibility:hidden
}

/*.content-wrapper {
    display:block;
    width:100%;
    float:left
}*/

.shadow {
    box-shadow:0 2px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset
}

.welcome {
    background-position:0 0;
    margin-bottom:0
}


@media only screen and (min-width : 1400px) {
/*.content-wrapper {
    display:block;
    width:100%;
    float:left;
    box-shadow:0 0 6px rgba(0,0,6,0.50)
}

.content-wrapper {display:block; width:100%; float:left; box-shadow: 0px 0px 6px rgba(0,0,6,0.50);} */

.shadow {
    box-shadow:0 2px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset
}
}

@media only screen and (min-width : 1920px) {
/*.content-wrapper {
    display:block;
    width:100%;
    max-width:1600px;
    float:left;
    box-shadow:0 0 6px rgba(0,0,4,0.50)
}*/
}